@model TaurusEdeucation.Models.MemberProfileEditPasswordModel
@{
    using (Html.BeginUmbracoForm("MemberProfileEditPasswordPost", "MemberProfileEditSurface"))
    {
        <table>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.email, new { id="email", @class="hidden"})
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.password, "Staré heslo")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.password, new { type="password", @class="taurus-logged-edit-input"}) 
                    @Html.ValidationMessageFor(m => m.password, "", new { @class="field-validation-error-input" })
                </td>
            </tr>
            <tr>
                <td class="taurus-logged-labelcontainer">
                    @Html.LabelFor(m => m.newPassword, "Nové heslo")
            
                <td>
                    @Html.TextBoxFor(m => m.newPassword, new { type="password", @class="taurus-logged-edit-input" })
                    @Html.ValidationMessageFor(m => m.newPassword, "", new { @class="field-validation-error-input" })
                </td>
            </tr>
            <tr>
                <td class="taurus-logged-labelcontainer">
                    @Html.LabelFor(m => m.passwordCheck, "Kontrola hesla")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.passwordCheck, new { type="password", @class="taurus-logged-edit-input" })
                    @Html.ValidationMessageFor(m => m.passwordCheck, "", new { @class="field-validation-error-input" })
                </td>
            </tr>
        </table>
        
        <input type="submit" value="Změna hesla" class="taurus-logged-submit" />
    }
    
    var tempValueObject = TempData["RegistrationStatus"];
    
    if (tempValueObject != null)
    {    
        <div class="field-validation-error taurus-newlector-registrationstatus">
            @tempValueObject
        </div>
    }
}
